<div class="row about">
  <div class="col" style="padding:65px;">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100"
            src="https://github.com/hiteshchoudhary/LCO-sports-web-challenge/blob/master/img1.png?raw=true" height="600"
            alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100"
            src="https://github.com/hiteshchoudhary/LCO-sports-web-challenge/blob/master/img2.png?raw=true" height="600"
            alt="Second slide">
        </div>
      </div>
    </div>
  </div>
  <div class="col d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <h1 class="text-center text-light">About Us</h1>
      <p class="text-center text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id bibendum
        mauris. Phasellus quis semper
        sapien. Morbi ut dui sem. Nam non erat in metus faucibus tempus. Aliquam arcu sem, eleifend euismod risus a,
        vestibulum tincidunt libero. Vestibulum eget turpis magna. Aenean laoreet gravida rhoncus. Cras suscipit erat
        sed dapibus condimentum. Sed tincidunt interdum dui ultricies rhoncus. Vivamus neque tellus, cursus quis
        hendrerit vel, finibus eget sem. Phasellus vel urna diam. Praesent vel venenatis ligula. Suspendisse sit amet
        nulla bibendum, sollicitudin ex nec, mattis est. Sed nunc leo, tempus eu neque vitae, bibendum pharetra orci.
        Vestibulum scelerisque dolor mauris, eget eleifend enim bibendum non. Nam tempus nulla nisl, quis ultrices
        elit
        luctus a.</p>
    </div>
  </div>
</div>
<style>
  .col {
    background: #1a1a1a;
    height: 100vh
  }

  .container {
    padding: 20px
  }
</style>