<div class="col">
  <div class="row">
    <img src="https://israelwithstyle.com/wp-content/uploads/2015/03/contact-banner.jpg" width="100%">
  </div>
  <div class="row">
    <div class="col col1 d-flex flex-column justify-content-center align-items-center text-left">
      <h6>Address</h6>
      <p>
        Address: LCO Basketball Ground,<br>
        55 - Fictional Homes, Fictional Road<br>
        Near Fictional Lake.<br>
        India<br>
      </p>
      <h6>Phone</h6>
      <p>
        +91-999999999<br>
      </p>
      <h6>Follow Us</h6>
      <ul class="list-none social list-inline d-flex">
        <li><a class="text-primary"><i class="fab fa-twitter"></i></a></li>
        <li class="pl-3"><a class="text-primary"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="pl-3"><a class="text-primary"><i class="fab fa-facebook"></i></a></li>
      </ul>
    </div>
    <div class="col col2">
      <form>
        <div class="container">
          <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="exampleInputName" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label for="exampleInputMessage">Message</label>
            <input type="text" class="form-control" id="exampleInputMessage" placeholder="Your Message">
          </div>
          <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure?')">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>
<style>
  .col1 {
    padding: 20px
  }

  .container {
    padding: 20px
  }
</style>