<div class="row no-gutters">
  <div class="col md-6 no-gutters">
    <div class="leftside d-flex flex-column justify-content-center align-items-center">
      <img
        src="https://github.com/hiteshchoudhary/LCO-sports-web-challenge/blob/master/sports-logo-transparent.png?raw=true"
        width="120" height="120" alt="">
      <h1 class="text-light">Amazing Basketball Tournament</h1>
      <h3 class="text-light">Go fight for it team!</h3>
    </div>
  </div>
  <div class="col md-6 no-gutters">
    <div class="rightside">
    </div>
  </div>
</div>
<style>
  .leftside,
  .rightside {
    height: 100vh;
  }

  .leftside {
    background: #1a1a1a;
    width: 100%
  }

  .rightside {
    background: url('https://github.com/hiteshchoudhary/LCO-sports-web-challenge/blob/master/artimg-2.png?raw=true') no-repeat center top;
    background-size: cover
  }
</style>