<div class="mycontainer vh-100 d-flex justify-content-center align-items-center">
  <h1 class="type text-light"></h1>
</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
  var typed = new Typed('.type', {
    strings: [
      'Big Tournament is coming soon...'
    ],
    smartBackspace: true,
    loop: true,
    typeSpeed: 50,
    backSpeed: 30
  });
</script>
<style>
  .mycontainer {
    background-color: #1a1a1a
  }
</style>